<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>559034224899-vs5tqt6atlrgr8fbrnea4t234ls947u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559034224899-vs5tqt6atlrgr8fbrnea4t234ls947u9</string>
	<key>API_KEY</key>
	<string>AIzaSyC003Rn7Iua-0KCLR60t2xSuuCxA-Ryt2w</string>
	<key>GCM_SENDER_ID</key>
	<string>559034224899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.captar.ios</string>
	<key>PROJECT_ID</key>
	<string>captar-d200a</string>
	<key>STORAGE_BUCKET</key>
	<string>captar-d200a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559034224899:ios:09c0f7e715be766f</string>
	<key>DATABASE_URL</key>
	<string>https://captar-d200a.firebaseio.com</string>
</dict>
</plist>